<!DOCTYPE html>
//
    CDog's Resume
    Build Env: #{process.env.NODE_ENV}
    Build Time: #{new Date()}
    --------
    # 愿双眼所及的视线 带梦想穿越境界线 #
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="shortcut icon", href="./favicon.png", type="image/png")
    title CDog | Web FE Engineer
    link(rel="stylesheet", href="./style.styl")
  body
    div.placeholder To Be Continued

    script(src="./script.ts")